<% layout("/layouts/boilerplate") %>

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        <% for(let item of listing){ %>
            <a href="/listings/<%= item.id %>" class="listing-link col">
                <div class="card listing-card">
                    <img src="<%= item.image %>" class="card-img-top" alt="..." style="height: 18rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= item.title %>
                        </h5>
                        <p class="card-text"><b>
                                <%= item.description %>
                            </b></p>
                        <button href="#" class="btn btn-primary">Go somewhere</button>
                    </div>
                </div>
            </a>
            <% } %>
    </div>