<% layout("/layouts/boilerplate") %>
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .filter{
            text-align: center;
            margin-top:2rem;
            margin-right: 2rem;
            opacity: 0.7;
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
            border-bottom: 2px solid #fe424d;
            color: #fe424d;
        }
        .tax-info{
            display: none;
        }
        .tax-toggle,.filter-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.5rem;
            padding: 1rem;
            margin-inline-start: auto;
        }
    </style>
    <div id="filters" class="mb-2">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountain</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beaches</p>
        </div>
        <div>
            <button class="btn dropdown-toggle filter-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-filter"></i> Filters
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Beaches</a></li>
              <li><a class="dropdown-item" href="#">Mountains</a></li>
              <li><a class="dropdown-item" href="#">Forests</a></li>
              <li><a class="dropdown-item" href="#">Deserts</a></li>
            </ul>
          </div>          
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
              </div>
        </div>
    </div>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mt-3">
        <% for(let item of listing){ %>
            <a href="/listings/<%= item.id %>" class="listing-link col">
                <div class="card listing-card">
                    <img src="<%= item.image.url %>" class="card-img-top" alt="..." style="height: 18rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= item.title %>
                        </h5>
                        <p class="card-text">
                                <%= item.price.toLocaleString("en-IN") %>/night
                                <i class="tax-info">+18% GST</i>
                        </p>
                        <button href="/listings/:id" class="btn btn-primary">CheckOut</button>
                    </div>
                </div>
            </a>
            <% } %>
    </div>
    <script>
        let taxSwitch=document.getElementById('switchCheckDefault');
        taxSwitch.addEventListener("click",()=>{
            let taxInfo=document.getElementsByClassName('tax-info');
            for(info of taxInfo){
                if(info.style.display!="inline")
                info.style.display="inline";
                else
                info.style.display="none";
            }
        })
    </script>